body{
    background-color: black;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 60px;
   

}

a{
    background-color: black;
    color: white;
    text-decoration: none ;
}
header img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 5px solid blue;
    
}
#imgperfil{
    text-align: center;
    padding: 50px;
   
}
footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid blue;
    
    

}
.imgredes{
    text-align: center;
    padding: 100px;
    grid-template-columns: 1fr;
   
}
footer{
    background-color: black;
    color: white;
}

footer a{
    margin: 20px;
   
}
.container{
    padding: 0px 50px;
}
nav a:hover{
    color: rgb(0, 162, 255);
    
}
h3{
    text-align: center;
    display: flex;
    justify-content: ;
    list-style-type: none;
    
}
